<div class="chat-container">
  <div class="messages-container">
    <div *ngFor="let message of displayMessages" [class]="'message ' + message.role">
      <ng-container *ngIf="isPropertyListing(message.content)">
        <div [innerHTML]="getMessageText(message.content)" class="message-text"></div>
        <div class="property-listings">
          <div class="property-grid">
            <div class="property-card" 
                 *ngFor="let property of message.content.properties" 
                 (click)="viewPropertyDetails(property)">
              <div class="property-details">
                <h3>{{ property.address }}</h3>
                <p class="price">{{ property.price }}</p>
                <p>{{ property.beds }} beds | {{ property.baths }} baths | {{ property.sqft }} sqft</p>
                <p class="description">{{ property.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="!isPropertyListing(message.content)" [innerHTML]="getMessageText(message.content)" class="message-text"></div>
    </div>
    <div *ngIf="isLoading" class="loading">Thinking</div>
  </div>
  
  <div class="input-container">
    <input
      type="text"
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
      placeholder="Type your message..."
    />
    <button (click)="sendMessage()" [disabled]="!canSendMessage()">
      Send
    </button>
  </div>
</div> 